.title{
    font-weight: bold;
}

.text-black-50{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.price{
    color: #CA4E79;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.category{
    color: #293462;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.btn1 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn1:hover {
  background-color: #fff;
}

.btn1:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn1 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.add{
  /* font-weight: 700;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 70%;
  height: 30px;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  margin: 15px auto;
  margin-top: 30px; */

  width: 42px;
  height: 42px;
  margin-left: 20px;

}